.DS_Store
**/build
**/bin
**/gen
**/local.properties
**/gradle.properties
**/.idea
**/*.iml
**/.gradle
**/captures
**/.bugtags.log
#**/settings.gradle

file/version_desc/version-*

**/build-small
**/smallLibs
**/public.txt

maven/*
!/maven/nothing

gradle/cache/*
